body {
    font-family: 'Roboto', sans-serif; /* Utilisez 'Roboto' comme police */
    margin: 0;
    padding: 0;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Animation de fondu à l'entrée */
@keyframes fadeIn {
    from {
        background-color: black;
        opacity: 0;
    }
    to {
        opacity: 1;
        pointer-events: none; /* Permet aux événements de passer à travers la superposition après l'animation */
    }
}

/* Applique l'animation à la classe spécifique */
.FadeInEffect {
    animation: fadeIn 0.5s ease-out;
}


/*barre de navigation */
.FullNavigationBar {
    display: flex;
    justify-content: center; /* Aligne les éléments horizontalement au centre */
    align-items: center; /* Aligne les éléments verticalement au centre */

    font-size: 20px;
    background-color: rgba(46, 45, 45,0); /* Couleur de fond de la barre de navigation */
  

} /*#6ec1e4*/

/*texte de la barre de nav */
.FullNavigationBar a {
    color: rgb(238, 236, 236);
    text-decoration: none;
    /*padding: 25px;*/
    margin: 25px; 
    position: relative;
    font-weight: 500; /* Ajustez cette valeur selon vos besoins */
}
/*accueil en bleu*/
#accueil{
    /*background: linear-gradient(125deg, #4915a0, #e92e84) !important;*/
    color:rgb(4, 224, 150);
   
}

.FullNavigationBar a:after{
    display:block;
    content: '';
    border-bottom: solid 2px gold;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.FullNavigationBar a:hover:after{
    transform: scaleX(1);
}


.FullNavigationBar a:hover{
    transform: scale(1.1);
    transition: left 250ms ease-in-out, right 250ms ease-in-out;
}

/* nom et prenom */
.ClasseName{
    display: flex;
    flex-direction: column; /* Modifier la direction en colonne */
    justify-content: center; /* Aligne les éléments horizontalement au centre */
    align-items: center; /* Aligne les éléments verticalement au centre */
    color:white;
    font-size: 5vw;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    /*border: 1px solid red; /* Ajoutez une bordure pour le débogage */
    text-shadow: 1px 3px 11px rgba(0,0,0,.3);
    height: 100vh; /* Occupe 78vh de la hauteur complète de la fenêtre (m'a aidé à centré le text)*/
  

}
/*contient toute les balises */
.Container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Utilise toute la hauteur de la fenêtre */
    margin: 0; /* Réinitialise les marges par défaut du navigateur */
}

/*marge entre le haut et le text */
h1 {
    margin:-3px
}

/*marge entre le haut et le text */
.NavigationBarWrapper {
    margin-top: 40px; /* Ajustez cette valeur selon vos besoins */
}

/*lastname size */
#IdLastName{
    font-size: 8.5vw;
}

#option{
    font-size: 30px;
    margin-top:10px;
    margin-bottom: 5px;

}

#option2{

    display: flex;
    margin-bottom: -15px;
    text-transform: none;
/* border-top: 3px black solid;
border-bottom: 5px black solid; */
  
      color:white;
      font-size:19pt;
      /* background-color: rgba(46, 45, 45,0.5); Couleur de fond de la barre de navigation */

    
      max-width: 1000px; /* Limitez la largeur du texte à l'intérieur de la balise p */

        /* Autres propriétés que vous pouvez ajuster selon vos besoins */
        text-align: center; /* Centre le texte horizontalement */
        line-height: 1.2; /* Ajustez la hauteur de ligne pour l'espacement entre les lignes */
        letter-spacing: 0px;

}

#option3{

    display: flex;
    margin-bottom: -15px;
    text-transform: none;

       padding: 15px;
      color:white;
      font-size:19pt;
      /* background-color: rgba(46, 45, 45,0.5); Couleur de fond de la barre de navigation */

    
      max-width: 1000px; /* Limitez la largeur du texte à l'intérieur de la balise p */

        /* Autres propriétés que vous pouvez ajuster selon vos besoins */
        text-align: center; /* Centre le texte horizontalement */
        line-height: 1.2; /* Ajustez la hauteur de ligne pour l'espacement entre les lignes */
        letter-spacing: 0px;

}
  