@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif; /* Utilisez 'Roboto' comme police */
    margin: 0;
    padding: 0;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(46, 45, 45,0.8); 
    

    
}
/* Animation de fondu à l'entrée */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        pointer-events: none; /* Permet aux événements de passer à travers la superposition après l'animation */
    }
  }
  
  /* Applique l'animation à la classe spécifique */
  .FadeInEffect {
    animation: fadeIn 0.5s ease-out;
  }
  
/*CSS LIEE A LA BARRE DE NAV*------------------------------------------------------------------------------------------*/

/*barre de navigation */
.FullNavigationBar {
    display: flex;
    justify-content: center; /* Aligne les éléments horizontalement au centre */
    align-items: center; /* Aligne les éléments verticalement au centre */
    margin-bottom: 2%;
    font-size: 20px;
    background-color: rgba(46, 45, 45,0); /* Couleur de fond de la barre de navigation */
  

} /*#6ec1e4*/

/*texte de la barre de nav */
.FullNavigationBar a {
    color: rgb(238, 236, 236);
    text-decoration: none;
    /*padding: 25px;*/
    margin: 25px; 
    position: relative;
    font-weight: 500; /* Ajustez cette valeur selon vos besoins */
}
/*competences en bleu*/
#veille{
    /*background: linear-gradient(125deg, #4915a0, #e92e84) !important;*/
    color:rgb(4, 224, 150);
   
}
.FullNavigationBar a:after{
    display:block;
    content: '';
    border-bottom: solid 2px gold;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.FullNavigationBar a:hover:after{
    transform: scaleX(1);
}


.FullNavigationBar a:hover{
    transform: scale(1.1);
    transition: left 250ms ease-in-out, right 250ms ease-in-out;
}
/*marge entre le haut et le text */
.NavigationBarWrapper {
    margin-top: 40px; /* Ajustez cette valeur selon vos besoins */
}

/*CSS LIEE A LA BARRE DE NAV*------------------------------------------------------------------------------------------*/

#title{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    font-size: 30pt;
    font-weight: 500;
    color:rgb(0, 174, 255);

}
p{
    border-top: 2px solid transparent;
    padding-top: 10px; /* Ajoutez de l'espace entre la bordure et le texte */
   
  color:white;
  font-size: 20pt;
  font-weight: 500;

  max-width: 1000px; /* Limitez la largeur du texte à l'intérieur de la balise p */
    margin-right: auto;
    margin-left: auto    ;
    /* Autres propriétés que vous pouvez ajuster selon vos besoins */
    text-align: center; /* Centre le texte horizontalement */
    line-height: 1.5; /* Ajustez la hauteur de ligne pour l'espacement entre les lignes */
}


.container {
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color:white;

}

p {
    color:white;
    line-height: 1.6;
    margin-bottom: 20px;
}

.positive-points,
.negative-points,
.future-advancements {
    margin-bottom: 30px;
}

.background{

 
    background-color: #252525; /* Couleur de fond */
    padding: 20px; /* Marge intérieure pour séparer le texte du bord de l'arrière-plan */
    width: 50%; /* Largeur de l'arrière-plan */
    margin: 0 auto; /* Pour centrer l'arrière-plan horizontalement */
  
}
#positif{
    color:rgb(15, 152, 0);
}
#negatif{
    color:red;
}
#future{
    color:rgb(0, 174, 255);
}
.future2{
    color:rgb(0, 148, 217);
}
#petit{
    font-size: 21px;
    color:rgb(161, 159, 159);
}
.important{
    color:rgb(0, 251, 255);
}