body {
    font-family: 'Roboto', sans-serif; /* Utilisez 'Roboto' comme police */
    margin: 0;
    padding: 0;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*CSS LIEE A LA BARRE DE NAV*------------------------------------------------------------------------------------------*/

/*barre de navigation */
.FullNavigationBar {
    display: flex;
    justify-content: center; /* Aligne les éléments horizontalement au centre */
    align-items: center; /* Aligne les éléments verticalement au centre */

    font-size: 20px;
    background-color: rgba(46, 45, 45,0); /* Couleur de fond de la barre de navigation */
  

} /*#6ec1e4*/

/*texte de la barre de nav */
.FullNavigationBar a {
    color: rgb(238, 236, 236);
    text-decoration: none;
    /*padding: 25px;*/
    margin: 25px; 
    position: relative;
    font-weight: 500; /* Ajustez cette valeur selon vos besoins */
}
/*competences en bleu*/
#veille{
    /*background: linear-gradient(125deg, #4915a0, #e92e84) !important;*/
    color:rgb(4, 224, 150);
   
}
.FullNavigationBar a:after{
    display:block;
    content: '';
    border-bottom: solid 2px gold;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.FullNavigationBar a:hover:after{
    transform: scaleX(1);
}


.FullNavigationBar a:hover{
    transform: scale(1.1);
    transition: left 250ms ease-in-out, right 250ms ease-in-out;
}
/*marge entre le haut et le text */
.NavigationBarWrapper {
    margin-top: 40px; /* Ajustez cette valeur selon vos besoins */
}

/*CSS LIEE A LA BARRE DE NAV*------------------------------------------------------------------------------------------*/
